* {
    font-family: 'Poppins';
}

html, body {
    height: 100%;
    background-color: #067B64;
}

/* 
.hero-image {
    background-image: 
    url("../images/test-hero.png"),
    url("../images/");
    /* Set a specific height
    height: 100%;

    /* Position and center the image to scale nicely on all screens
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} 
*/

/* .hero-image-result {
    background-image: url("../images/test-hero-result.png");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */

.hero-image {
    height: 100%;
    background-image: 
        url("../images/corona.png"),
        url("../images/corona.png"),
        url("../images/hero-blank.png");
    background-repeat: 
        no-repeat;
	background-position: 
        80% 90%,
        100% 100%,
        center;
	background-size: 
        13%,
        9%,
		100%;
    animation: 
    7s nudge infinite ease-in-out,
    7s nudge infinite ease-in-out,
    normal;
}

@keyframes nudge {
    0%, 100% {
        background-position: 
        88% 7%,
        99% 45%,
        center;
    }
    
    50% {
        background-position: 
        88% 20%,
        99% 30%,
        center;
    }
}

.hero-image-result {
    height: 100%;
    background-image: 
        url("../images/car.png"),
        url("../images/hero-result-blank.png");
    background-repeat: 
        no-repeat;
	background-position: 
        70% 100%,
        center;
	background-size: 
        13%,
		100%;
    animation: 
    10s para infinite linear,
    normal;
}

@keyframes para {
	100% {
		background-position: 
			100% 61%,
			center;
	}
}

.nb-green {
    color: #85E087;
}

.div-search {
    padding-top: 12rem;
}

.div-result {
    padding-top: 9rem;
}

.text-p {
    font-size: 18px;
    color: #D4D4D4;
}

.form-bg {
    background-color: #EFEFEF;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
     0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
    
    border-radius:10px;
    margin-top: 50px;
    padding: 30px;
}

.btn-green {
    background-color: #6BB66C;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s;
    /* box-shadow: 3px 3px #067B64; */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.btn-green:hover {
    background-color: #5fa160;
    transition: 0.3s;
}

.btn-yellow {
    background-color: #CAB56B;
    width: 10rem;
    height: 4rem;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: 0.3s;
    /* box-shadow: 3px 3px #067B64; */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.btn-yellow:hover {
    background-color: #B9A560;
    transition: 0.3s;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #067B64;
    color: #FFFFFF;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: pulse 4s infinite;
}

@keyframes pulse {
0%, 100% {
    background-color: #067B64;
}
50% {
    background-color: #2C5A51;
}
}

.loader {
    display: inline-block;
    width: 10%;
    position: relative;
    animation: spin 2s infinite ease-in-out;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}