<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SafeRoute</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins';
        }
    </style>
</head>

<body>
<nav class="navbar navbar-light bg-light">
    <b><a th:href="@{/search}" class="navbar-brand">SafeRoute</a></b>
</nav>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div th:if="${result != null}" class="d-flex flex-column align-items-center mt-5">
        <h5 class="font-weight-bold">Safest Route</h5>
        <p th:text="${result}"></p>
    </div>
</div>
</body>

</html>