<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CDN for bootstrap-selectpicker -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- <link rel="stylesheet" href="static/css/saferouteHero.css"/> -->
    <link th:href="@{css/saferoute.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">

    <title>SafeRoute</title>
</head>

<nav class="navbar fixed-top">
    <span class="navbar-brand m-4 font-weight-bold text-light" href="#"><span class="nb-green">Safe</span>Route.</span>
</nav>

<body>
    <div class="hero-image-result">
        <div class="container ml-5">
            <div class="div-result">
                <div class="col align-self-center">
                    <div class="mb-5">
                        <h2 class="font-weight-bold text-light">Safest Route</h2>
                        <h5 th:text="|From ${start} to ${destination}|" class="text-light"></h5>
                        <h4 th:text="${resultPath2}" class="mt-4 text-light"></h4>
                    </div>
                    <a th:href="@{/search}"><button class="col-3 btn-yellow">Back to Home</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>