<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- CDN for bootstrap-selectpicker -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- <link rel="stylesheet" href="static/css/saferouteHero.css"/> -->
    <link th:href="@{css/saferoute.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&display=swap" rel="stylesheet">

    <title>SafeRoute</title>
</head>

<nav class="navbar fixed-top">
    <span class="navbar-brand m-4 font-weight-bold text-light" href="#"><span class="nb-green">Safe</span>Route.</span>
</nav>

<body>
    <div class="hero-image">
        <div class="container">
            <div class="row div-search">
                <div class="col-7 align-self-center">
                    <h1 class="mb-4 font-weight-bold text-light">
                        Find Your <br> Safest Route
                    </h1>
                    <p class="mb-4 text-p">
                        Put your mind at ease by taking <br> the safest route our algorithm can calculate.
                    </p>
                    <div class="form-bg">
                        <form th:action="@{/search}" th:method="post">
                            <div class="row">
                                <div class="col">
                                    <label for="inputCurrentLocation">Current Location</label>
                                    <select id="inputCurrentLocation" name="inputCurrentLocation" class="form-control selectpicker" data-live-search="true">
                                        <!-- Hardcode kalau belum bisa connect ke repository -->
                                        <!-- <option>Kecamatan A</option>
                                        <option>Kecamatan B</option>
                                        <option>Kecamatan C</option>
                                        <option>Kecamatan D</option>
                                        <option>Kecamatan E</option> -->

                                        <option th:each="kecamatan : ${listOfKecamatan}"
                                                th:value="${kecamatan.getKecamatan()}"
                                                th:text="${kecamatan.getKecamatan()}">
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="inputDestination">Destination</label>
                                    <select id="inputDestination" name="inputDestination" class="form-control selectpicker" data-live-search="true">
                                        <!-- Hardcode kalau belum bisa connect ke repository -->
                                        <!-- <option>Kecamatan A</option>
                                        <option>Kecamatan B</option>
                                        <option>Kecamatan C</option>
                                        <option>Kecamatan D</option>
                                        <option>Kecamatan E</option> -->
                                        <option th:each="kecamatan : ${listOfKecamatan}"
                                                th:value="${kecamatan.getKecamatan()}"
                                                th:text="${kecamatan.getKecamatan()}">
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" class="col-3 btn-green" id="find-btn">Find Route</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="loader-wrapper">
        <img class="loader" th:src="@{/images/loading-asset.png}"/>
        <h4 class="mt-3">Finding the safest route for you. Sit tight!</h4>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

    <!-- CDN for bootstrap-selectpicker -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script>
      $('#find-btn').on("click", function(){
        $(".loader-wrapper").css({display:'flex'});
      })
    </script>
</body>
</html>